<div class="tags">
	<span class="label label-info"><%= link_to "Latest", question: :index,:query => "latest"%></span>
	<span class="label label-info"><%= link_to "Greatest", question: :index, :query => "greatest" %></span>
</div>

<%= render @questions %>
