<ol id="questions-list">
	<% @questions.each do |question| %>
		<li class="question-container">
			<div class="votes">
				<p>Votes: <%= question.vote_count %></p>
			</div>
			<ul class="question-main">
				<li><%= link_to question.title, question_path(question) %></li>
				<li><%= truncate(question.body, limit: 80) %></li>
				<li><% question.tags.each do |tag| %>
							<span class="tag"><%= link_to tag.name, tag_path(tag) %></span>
						<% end %>
				</li>
			</ul>

		</li>
	<% end %>
</ol>