<%= form_for [@question, @answer] do |f| %>
  <fieldset>
    <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
