.list_of_tags ul li {
  list-style-type: none;
  text-decoration: none;
  color: #62A4E8;
}

.list_of_tags ul li a {
  padding: 2px;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #62A4E8;
  border: solid 1px #62A4E8;
}

div #latest_and_greatest {
  text-align: center;
}

#latest_and_greatest a {
  padding: 2px 10px 2px 10px; 
  padding-right: 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: #E87730;
  border: solid 1px #E87730;
}

#latest_and_greatest a:hover {
  color: #62A4E8;
  background-color: white;
  border: solid 1px white;
}

.list_of_tags a {
  padding: 2px;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #62A4E8;
  border: solid 1px #62A4E8;
}

.list_of_tags a:hover {
  list-style-type: none;
  text-decoration: none;
}

.tagname {
  font-weight: bolder;
  font-size: 2em;
}

.tagname a:hover{
  color: #E87730;
  background-color: white;
  border: solid 1px white;
}

.bolder {
  font-weight: bolder;
}