#user-list li {
  list-style-type: none;
  text-decoration: none;
  color: #62A4E8;
  margin-top: 5px 5px 5px 0px;
}

.username {
  font-weight: bolder;
  font-size: 2em;
}

.username a:hover{
  list-style-type: none;
  text-decoration: none;
  color: orange;
}